﻿<!DOCTYPE html>
<html>
@using WebApplication1.Models
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/megamenu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jstarbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/slippry.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/etalage.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/owl.carousel.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/easing.js")"></script>
    <script src="@Url.Content("~/Scripts/easyResponsiveTabs.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.easy-ticker.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.etalage.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/megamenu.js")"></script>
    <script src="@Url.Content("~/Scripts/menu_jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/modal.js")"></script>
    <script src="@Url.Content("~/Scripts/move-top.js")"></script>
    <script src="@Url.Content("~/Scripts/owl.carousel.js")"></script>
    <script src="@Url.Content("~/Scripts/scripts-f0e4e0c2.js")"></script>

    <title>Spike shoes Website Template | Details :: w3layouts</title>
    <link href="../Content/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="../Scripts/jquery.min.js"></script>
    <!----start-alert-scroller---->
    <script type="text/javascript" src="../Scripts/jquery.easy-ticker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#demo').hide();
            $('.vticker').easyTicker();
        });
    </script>
    <!----start-alert-scroller---->
    <!-- start menu -->
    <link href="../Content/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../Scripts/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script src="../Scripts/menu_jquery.js"></script>
    <!-- //End menu -->
    <!---move-top-top---->
    <script type="text/javascript" src="../Scripts/move-top.js"></script>
    <script type="text/javascript" src="../Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>
    <!---//move-top-top---->
    <!-- Owl Carousel Assets -->
    <link href="../Content/owl.carousel.css" rel="stylesheet">
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
</head>
<body>

    @{Html.RenderAction("GetMenu", "Home");}
    
        @RenderBody()
    
    <hr />
    <div class="wrap">
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <div class="bottom-grids">
        <div class="bottom-top-grids">
            <div class="wrap">
                <div class="bottom-top-grid">
                    <h4>TRỢ GIÚP</h4>
                    <ul>
                        <li><a href="/Home/Contact">Contact us</a></li>
                        <li><a href="#">Shopping</a></li>
                        <li><a href="#">NIKEiD</a></li>
                        <li><a href="#">Nike+</a></li>
                    </ul>
                </div>
                <div class="bottom-top-grid">
                    <h4>DỊCH VỤ</h4>
                    <ul>
                        <li><a href="#">Payment options</a></li>
                        <li><a href="#">Shipping and delivery</a></li>
                        <li><a href="#">Returns</a></li>
                    </ul>
                </div>
                <div class="bottom-top-grid last-bottom-top-grid">
                    <h4>ĐĂNG KÝ</h4>
                    <p>Create one account to manage everything you do with Nike, from your shopping preferences to your Nike+ activity.</p>
                    <a class="learn-more" href="#">Learn more</a>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="bottom-bottom-grids">
            <div class="wrap">
                <div class="bottom-bottom-grid">
                    <h6>EMAIL ĐĂNG NHẬP</h6>
                    <p>Be the first to know about new products and special offers.</p>
                    <a class="learn-more" href="#">Sign up now</a>
                </div>
                <div class="bottom-bottom-grid">
                    <h6>THẺ QUÀ TẶNG</h6>
                    <p>Give the gift that always fits.</p>
                    <a class="learn-more" href="#">View cards</a>
                </div>
                <div class="bottom-bottom-grid last-bottom-bottom-grid">
                    <h6>CỬA HÀNG GẦN ĐÓ</h6>
                    <p>Locate a Nike retail store or authorized retailer.</p>
                    <a class="learn-more" href="#">Search</a>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <!---- //End-bottom-grids---->
    <!--- //End-content---->
    @RenderSection("load", required: false)
    @RenderSection("search", required: false)
    @RenderSection("searchnangcao", required: false)
    @RenderSection("viewcomment", required: false)
    @RenderSection("productlist", required: false)
    <!---start-footer---->
    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <ul>
                    <li><a href="#">United Kingdom</a> <span> </span></li>
                    <li><a href="#">Terms of Use</a> <span> </span></li>
                    <li><a href="#">Nike Inc.</a> <span> </span></li>
                    <li><a href="#">Launch Calendar</a> <span> </span></li>
                    <li><a href="#">Privacy & Cookie Policy</a> <span> </span></li>
                    <li><a href="#">Cookie Settings</a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="footer-right">
                <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
                <script type="text/javascript">
                    $(document).ready(function () {
                        /*
                        var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear'
                        };
                        */

                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
                </script>
                <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>