﻿<div class="header">
    <div class="top-header">
        <div class="wrap">
            <div class="top-header-left">
                <ul>
                    <!---cart-tonggle-script---->
                    <script type="text/javascript">
                        $(function () {
                            var $cart = $('#cart');
                            $('#clickme').click(function (e) {
                                e.stopPropagation();
                                if ($cart.is(":hidden")) {
                                    $cart.slideDown("slow");
                                } else {
                                    $cart.slideUp("slow");
                                }
                            });
                            $(document.body).click(function () {
                                if ($cart.not(":hidden")) {
                                    $cart.slideUp("slow");
                                }
                            });
                        });
                    </script>
                    <!---//cart-tonggle-script---->
                    <li><a class="cart" href="/Order/Cart"><span id="clickme"> </span></a></li>
                    <!---start-cart-bag---->
                    <!--div id="cart">Your Cart is Empty <span>(0)</span></!--div-->
                    <!---start-cart-bag---->
                    <li><a class="info" href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="top-header-center">
                <div class="top-header-center-alert-left">
                    <h3>FREE DELIVERY</h3>
                </div>
                <div class="top-header-center-alert-right">
                    <div class="vticker">
                        <ul>
                            <li>Applies to orders of $50 or more. <label>Returns are always free.</label></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            @*<div class="top-header-right">
                    <ul>
                        <li><a href="/Home/Login">Login</a><span> </span></li>
                        <li><a href="/Home/Register">Join</a></li>
                    </ul>
                </div>*@
            @Html.Partial("_LoginPartial")
            <div class="clear"> </div>
        </div>
    </div>
    <!----start-mid-head---->
    <div class="mid-header">
        <div class="wrap">
            @{Html.RenderAction("tempSearch", "Home");}
            <div class="mid-grid-right">
                <a class="logo" href="/Home/Index"><span> </span></a>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <!----//End-mid-head---->
    <!----start-bottom-header---->
    <div class="header-bottom">
        <div class="wrap">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li class="grid">
                    <a class="color2" href="/Product/ProductList?gender=1">NAM</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Featured</h4>
                                    <ul>
                                        <li><a href="/Product/ProductList?gender=1">New arrivals</a></li>
                                        <li><a href="/Product/ProductList?gender=1">Clearance</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Shoe types</h4>
                                    <ul>
                                        @foreach (WebApplication1.DAL.Type type in (List<WebApplication1.DAL.Type>)ViewData["typelist"])
                                        {
                                            string href = "/Product/ProductList?gender=1&" + "type=" + @type.id;
                                            <li><a href=@href>@type.name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col1 men">
                            <div class="men-pic">
                                <img src="../images/men.png" title="" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="active grid">
                    <a class="color4" href="/Product/ProductList?gender=2">NỮ</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Featured</h4>
                                    <ul>
                                        <li><a href="/Product/ProductList?gender=2">New arrivals</a></li>
                                        <li><a href="/Product/ProductList?gender=2">Clearance</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Shoe types</h4>
                                    <ul>
                                        @foreach (WebApplication1.DAL.Type type in (List<WebApplication1.DAL.Type>)ViewData["typelist"])
                                        {
                                            string href = "/Product/ProductList?gender=2&" + "type=" + @type.id;
                                            <li><a href=@href>@type.name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col1 women">
                                <div class="women-pic">
                                    <img src="../images/women.png" title="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                @{ if (User.IsInRole("admin"))
                 {
                    <li>
                        <a class="color5" href="/Product/ProductType">Loại sản phẩm</a>
                    </li>

                    <li>
                        <a class="color5" href="/Product/ProductManage">Quản lý sản phẩm</a>
                    </li>
                 }
                }
            </ul>

        </div>
    </div>
</div>