﻿
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<WebApplication1.DAL.Product>


@foreach (var item in Model.Select((model, index) => new { model, index }))
{

    <div onclick="location.href='/Product/ProductDetails/@Html.DisplayFor(modelItem => item.model.id)';" class="@((item.index+1) % 3 == 0 ? "product-grid last-grid": "product-grid")">
        <div class="product-grid-head">
            <ul class="grid-social">
                <li><a class="facebook" href="#"><span> </span></a></li>
                <li><a class="twitter" href="#"><span> </span></a></li>
                <li><a class="googlep" href="#"><span> </span></a></li>
                <div class="clear"> </div>
            </ul>
            <div class="block">
                <div class="starbox small ghosting"> </div> <span> (46)</span>
            </div>
        </div>
        <div class="product-pic">

            <a href="/Product/ProductDetails/@Html.DisplayFor(modelItem => item.model.id)"><img src="../images/product2.jpg" title="product-name" /></a>
            <p>
                <a href="/Product/ProductDetails/@Html.DisplayFor(modelItem => item.model.id)"><small>Nike</small> @Html.DisplayFor(modelItem => item.model.name) <small>Phantom</small> FG</a>
                <span>@Html.DisplayFor(modelItem => item.model.status)</span>
            </p>
        </div>
        <div class="product-info">

            <div class="product-info-cust">
                @Html.ActionLink("Details", "ProductDetails", "Product", new { id = item.model.id }, null)
            </div>
            <div class="product-info-price">



                <a href="/Product/ProductDetails/@Html.DisplayFor(modelItem => item.model.id)">&#163; @Html.DisplayFor(modelItem => item.model.price) </a>

            </div>
            <div class="clear"> </div>
        </div>
        <div class="more-product-info">
            <span> </span>
        </div>
    </div>
}



<div class="clear"> </div>
@Html.PagedListPager(Model, page => Url.Action("Search", new { page = page, search = @ViewBag.search }), PagedListRenderOptions.OnlyShowFivePagesAtATime)