﻿@{
    ViewBag.Title = "Contact";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <!--- start-content---->
    <div class="content contact-main">
        <!----start-contact---->
        <div class="contact-info">
            <div class="map">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px"></a></small>
            </div>
            <div>
                <table border="1" width="100%">
                    <caption>
                        <h1>Thông tin nhóm</h1>
                    </caption>
                    <tr>
                        <th>MSSV</th>
                        <th>Họ tên</th>
                    </tr>
                    <tr>
                        <th>1212220</th>
                        <th>Nguyễn Thành Luân</th>
                    </tr>
                    <tr>
                        <th>1212236</th>
                        <th>Nguyễn Hoàng Minh</th>
                    </tr>
                    <tr>
                        <th>1212259</th>
                        <th>Nguyễn Trọng Nghĩa</th>
                    </tr>
                </table>
            </div>
            <div class="wrap">
                <div class="contact-grids">
                    <div class="col_1_of_bottom span_1_of_first1">
                        <h5>ĐỊA CHỈ</h5>
                        <ul class="list3">
                            <li>
                                <img src="../images/home.png" alt="">
                                <div class="extra-wrap">
                                    <p>Lorem ipsum  consectetu,<br>dolor sit amet,.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col_1_of_bottom span_1_of_first1">
                        <h5>SỐ ĐIỆN THOẠI</h5>
                        <ul class="list3">
                            <li>
                                <img src="../images/phone.png" alt="">
                                <div class="extra-wrap">
                                    <p><span>Telephone:</span>+1 800 258 2598</p>
                                </div>
                                <img src="../images/fax.png" alt="">
                                <div class="extra-wrap">
                                    <p><span>FAX:</span>+1 800 589 2587</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col_1_of_bottom span_1_of_first1">
                        <h5>Email</h5>
                        <ul class="list3">
                            <li>
                                <img src="../images/email.png" alt="">
                                <div class="extra-wrap">
                                    <p><span class="mail"><a href="mailto:yoursite.com">info(at)spikeshoe.com</a></span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <form method="post" action="contact-post.html">
                    <div class="contact-form">
                        <div class="contact-to">
                            <input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
                            <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
                            <input type="text" class="text" value="Subject..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject...';}">
                        </div>
                        <div class="text2">
                            <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
                        </div>
                        <span><input type="submit" class="" value="Submit"></span>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </div>
        <!----//End-contact---->
    </div>

</body>
</html>

