﻿@{ViewBag.Title = "Home Page";}
@model IEnumerable<WebApplication1.DAL.Product>
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <!---slider---->
    <!--link rel="stylesheet" href="../Content/slippry.css"-->
    <script src="../Scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="../Scripts/scripts-f0e4e0c2.js" type="text/javascript"></script>
    <script>
        jQuery('#jquery-demo').slippry({
            // general elements & wrapper
            slippryWrapper: '<div class="sy-box jquery-demo" />', // wrapper to wrap everything, including pager
            // options
            adaptiveHeight: false, // height of the sliders adapts to current slide
            useCSS: false, // true, false -> fallback to js if no browser support
            autoHover: false,
            transition: 'fade'
        });
    </script>
    <!----start-pricerage-seletion---->
    <script type="text/javascript" src="../Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Content/jquery-ui.css">
    <script type='text/javascript'>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [100, 400],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        });//]]>
    </script>
    <!----//End-pricerage-seletion---->

</head>
<body>

    <!----start-image-slider---->
    <div class="img-slider">
        <div class="wrap">
            <ul id="jquery-demo">
                <li>
                    <a href="#slide1">
                        <img src="../images/slide-1.jpg" alt="" />
                    </a>
                    <div class="slider-detils">
                        <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                        <span>Stay true to your team all day, every day, game day.</span>
                        <a class="slide-btn" href="/Product/ProductList"> Shop Now</a>
                    </div>
                </li>
                <li>
                    <a href="#slide2">
                        <img src="../images/slide-4.jpg" alt="" />
                    </a>
                    <div class="slider-detils">
                        <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                        <span>Stay true to your team all day, every day, game day.</span>
                        <a class="slide-btn" href="/Product/ProductDetails"> Shop Now</a>
                    </div>
                </li>
                <li>
                    <a href="#slide3">
                        <img src="../images/slide-1.jpg" alt="" />
                    </a>
                    <div class="slider-detils">
                        <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                        <span>Stay true to your team all day, every day, game day.</span>
                        <a class="slide-btn" href="/Product/ProductDetails"> Shop Now</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"> </div>
    <!----//End-image-slider---->
    <!----start-price-rage--->
    
    <!----//End-price-rage--->
    <!--- start-content---->
    <div class="content">
        <div class="wrap">
            <!--div class="content-left">
                <div class="content-left-top-grid">
                    <div class="content-left-price-selection">
                        <h4>Select Price:</h4>
                        <div class="price-selection-tree">
                            <span class="col_checkbox">
                                <input id="10" class="css-checkbox10" type="checkbox">
                                <label class="normal"><i for="10" name="demo_lbl_10" class="css-label10"> </i> 400</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="11" class="css-checkbox11" type="checkbox">
                                <label class="active1"><i for="11" name="demo_lbl_11" class="css-label11"> </i>350</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="12" class="css-checkbox12" type="checkbox">
                                <label class="normal"><i for="12" name="demo_lbl_12" class="css-label12"> </i> 300</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="13" class="css-checkbox13" type="checkbox">
                                <label class="normal"><i for="13" name="demo_lbl_13" class="css-label13"> </i>250</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="14" class="css-checkbox14" type="checkbox">
                                <label class="normal"><i for="14" name="demo_lbl_14" class="css-label14"> </i> 200</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="15" class="css-checkbox15" type="checkbox">
                                <label class="normal"><i for="15" name="demo_lbl_15" class="css-label15"> </i>150</label>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="content-left-bottom-grid">
                    <h4>Boys Football:</h4>
                    <div class="content-left-bottom-grids">
                        <div class="content-left-bottom-grid1">
                            <img src="../images/foot-ball.jpg" title="football" />
                            <h5><a href="/Product/ProductDetails">Nike Strike PL Hi-Vis</a></h5>
                            <span> Football</span>
                            <label>&#163; 375</label>
                        </div>
                        <div class="content-left-bottom-grid1">
                            <img src="../images/jarse.jpg" title="jarse" />
                            <h5><a href="/Product/ProductDetails">Nike Strike PL Hi-Vis</a></h5>
                            <span> Football</span>
                            <label>&#163; 375</label>
                        </div>
                    </div>
                </div>
            </!--div-->
            <div class="content">
                <div class="product-grids">
                    <!--- start-rate---->
                    <script src="../Scripts/jstarbox.js"></script>
                    <link rel="stylesheet" href="../Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
                    <script type="text/javascript">
                        jQuery(function () {
                            jQuery('.starbox').each(function () {
                                var starbox = jQuery(this);
                                starbox.starbox({
                                    average: starbox.attr('data-start-value'),
                                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                    ghosting: starbox.hasClass('ghosting'),
                                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                    stars: starbox.attr('data-star-count') || 5
                                }).bind('starbox-value-changed', function (event, value) {
                                    if (starbox.hasClass('random')) {
                                        var val = Math.random();
                                        starbox.next().text(' ' + val);
                                        return val;
                                    }
                                })
                            });
                        });
                    </script>
                    <!---//End-rate---->
                    <!---caption-script---->
                    <!---//caption-script---->
                    <p> Sản phẩm mới nhất</p>
                    <div id="_viewIndex">
                        @Html.Partial("_viewIndex", Model)
                    </div>


                    @section load{
                        <script type="text/javascript">
                            function ChangeUrl(page, url) {
                                if (typeof (history.pushState) != "undefined") {
                                    var obj = { Page: page, Url: url };
                                    history.pushState(obj, obj.Page, obj.Url);
                                } else {
                                    alert("Browser does not support HTML5.");
                                }


                            }
                            function search() {
                                $.ajax({

                                    url: "/Home/Index?page=2",
                                    success: function (result) {
                                        ChangeUrl("Index", "/Home/Index?page=2");
                                        $('#_viewIndex').html(result);
                                    }
                                });
                            }
                            function search1() {
                                $.ajax({

                                    url: "/Home/Index?page=1",
                                    success: function (result) {
                                        ChangeUrl("Index", "/Home/Index?page=1");
                                        $('#_viewIndex').html(result);
                                    }
                                });
                            }

                            $(function () {
                                $('#a').click(function () {
                                    search();
                                })
                                $('#test').click(function () {
                                    search();
                                })
                                $('#b').click(function () {
                                    search1();
                                })

                                $('body').on('click', '#_viewIndex .pagination a', function (event) {
                                    event.preventDefault();
                                    console.log('page');
                                    var url1 = $(this).attr('href');
                                    console.log(url1);

                                    $.ajax({
                                        url: url1,
                                        success: function (result) {
                                            ChangeUrl('Index', url1);
                                            $('#_viewIndex').html(result);
                                        }
                                    });
                                });
                            })
                        </script>
                    }
                    <div class="clear"> </div>
                </div>
            </div>


            <div class="clear">

            </div>

        </div>
    </div>

</body>
</html>