﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <!--- start-content---->
    <div class="content login-box">
        <div class="login-main">
            <div class="wrap">
                <h1>LOGIN OR CREATE AN ACCOUNT</h1>
                <div class="login-left">
                    <h3>NEW CUSTOMERS</h3>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a class="acount-btn" href="/Home/Register">Creat an Account</a>
                </div>
                <div class="login-right">
                    <h3>REGISTERED CUSTOMERS</h3>
                    <p>If you have an account with us, please log in.</p>
                    <form>
                        <div>
                            <span>Email Address<label>*</label></span>
                            <input type="text">
                        </div>
                        <div>
                            <span>Password<label>*</label></span>
                            <input type="text">
                        </div>
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login" />
                    </form>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>

</body>
</html>

