﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <!--- start-content---->
    <div class="content login-box">
        <div class="login-main">
            <div class="wrap">
                <h1>CREATE AN ACCOUNT</h1>
                <div class="register-grids">
                    <form>
                        <div class="register-top-grid">
                            <h3>PERSONAL INFORMATION</h3>
                            <div>
                                <span>First Name<label>*</label></span>
                                <input type="text">
                            </div>
                            <div>
                                <span>Last Name<label>*</label></span>
                                <input type="text">
                            </div>
                            <div>
                                <span>Email Address<label>*</label></span>
                                <input type="text">
                            </div>
                            <div class="clear"> </div>
                            <a class="news-letter" href="#">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
                            </a>
                            <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                        <div class="register-bottom-grid">
                            <h3>LOGIN INFORMATION</h3>
                            <div>
                                <span>Password<label>*</label></span>
                                <input type="text">
                            </div>
                            <div>
                                <span>Confirm Password<label>*</label></span>
                                <input type="text">
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                        <input type="submit" value="submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


