﻿@using WebApplication1.Models
@model PagedList.IPagedList<WebApplication1.DAL.Product>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<body>
    <div class="clear"> </div>
    <!----//End-image-slider---->
    <!----start-price-rage--->
    <div class="wrap">

    </div>
    <!----//End-price-rage--->
    <!--- start-content---->
    <div class="content">
        <div class="wrap">
            <div class="content-left">
                <div class="content-left-top-grid">
                    <div class="content-left-price-selection">
                        <h4>Select Price:</h4>
                        <div class="price-selection-tree">
                            <span class="col_checkbox">
                                <input id="10" class="css-checkbox10" type="checkbox">
                                <label class="normal"><i for="10" name="demo_lbl_10" class="css-label10"> </i> 400</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="11" class="css-checkbox11" type="checkbox">
                                <label class="active1"><i for="11" name="demo_lbl_11" class="css-label11"> </i>350</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="12" class="css-checkbox12" type="checkbox">
                                <label class="normal"><i for="12" name="demo_lbl_12" class="css-label12"> </i> 300</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="13" class="css-checkbox13" type="checkbox">
                                <label class="normal"><i for="13" name="demo_lbl_13" class="css-label13"> </i>250</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="14" class="css-checkbox14" type="checkbox">
                                <label class="normal"><i for="14" name="demo_lbl_14" class="css-label14"> </i> 200</label>
                            </span>
                            <span class="col_checkbox">
                                <input id="15" class="css-checkbox15" type="checkbox">
                                <label class="normal"><i for="15" name="demo_lbl_15" class="css-label15"> </i>150</label>
                            </span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="content-right">
                <div class="product-grids">
                    <!--- start-rate---->
                    <script src="../Scripts/jstarbox.js"></script>
                    <link rel="stylesheet" href="../Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
                    <script type="text/javascript">
                        jQuery(function () {
                            jQuery('.starbox').each(function () {
                                var starbox = jQuery(this);
                                starbox.starbox({
                                    average: starbox.attr('data-start-value'),
                                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                    ghosting: starbox.hasClass('ghosting'),
                                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                    stars: starbox.attr('data-star-count') || 5
                                }).bind('starbox-value-changed', function (event, value) {
                                    if (starbox.hasClass('random')) {
                                        var val = Math.random();
                                        starbox.next().text(' ' + val);
                                        return val;
                                    }
                                })
                            });
                        });
                    </script>
                    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
                    <div class="row">
                        <div class="col-md-12">
                            <section id="loginForm">
                                @Html.AntiForgeryToken()
                                <hr />
                                @Html.ValidationSummary(true)
                                <div class="form1-group">

                                    <label class="col-md-2 control-label" for="name">Tên sản phẩm</label>
                                    <div class="col-md-10">
                                        <input class="form-control" id="name" name="name" type="text" value="">
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form1-group">

                                    <label class="col-md-2 control-label" for="price">Giá</label>
                                    <div class="col-md-10">

                                        <input class="form-control" id="price" name="price" type="text" value="">
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form1-group">

                                    <label class="col-md-2 control-label" for="noname">Giới tính</label>
                                    <div class="col-md-10">

                                        <label>@Html.RadioButton("ABC", "1")Nam</label>
                                        <label>@Html.RadioButton("ABC", "2")Nữ</label>
                                        <label>@Html.RadioButton("ABC", "0", true)Cả hai</label>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" id="btnsearch" value="Tìm kiếm" class="btn btn-default" />
                                    </div>
                                </div>

                            </section>
                        </div>

                        <div id="_viewSearchNangCao" style="margin-top: 1.5cm">
                            @Html.Partial("_viewSearchNangCao", Model)
                        </div>

                    </div>



                    <!---//End-rate---->
                    <!---caption-script---->
                    <!---//caption-script---->
                    @section searchnangcao{
                        <script type="text/javascript">
                            function ChangeUrl(page, url) {
                                if (typeof (history.pushState) != "undefined") {
                                    var obj = { Page: page, Url: url };
                                    history.pushState(obj, obj.Page, obj.Url);
                                } else {
                                    alert("Browser does not support HTML5.");
                                }


                            }

                            function search() {
                                $.ajax({

                                    url: "/Home/searchNangCao?name=" + $('#name').val() + "&price=" + $('#price').val() + "&gender=" + $('input:radio[name=ABC]:checked').val()

,
                                    success: function (result) {
                                        ChangeUrl("Index", "/Home/searchNangCao?name=" + $('#name').val() + "&price=" + $('#price').val() + "&gender=" + $('input:radio[name=ABC]:checked').val());
                                        $('#_viewSearchNangCao').html(result);
                                    }
                                });
                            }


                            $(function () {
                                $('#btnsearch').click(function () {
                                    search();
                                });
                                $('#name').keypress(function (e) {
                                    if (e.keyCode == 13)
                                        search();
                                });

                                $('body').on('click', '#_viewSearchNangCao .pagination a', function (event) {
                                    event.preventDefault();
                                    console.log('page');

                                    var name = $('#name').val();
                                    if (name == undefined || name == '') {
                                        name = '';
                                    } else {
                                        name = '&name=' + name;
                                    }
                                    var price = $('#price').val();
                                    if (price == undefined || price == '') {
                                        price = '';
                                    } else {
                                        price = '&price=' + price;
                                    }
                                    var gender = $('input:radio[name=ABC]:checked').val();
                                    if (gender == undefined || gender == '') {
                                        gender = "0";
                                    }
                                    else {

                                        gender = '&gender=' + gender;
                                    }

                                    var url1 = $(this).attr('href') + "&name=" + $('#name').val() + "&price=" + $('#price').val() + "&gender=" + $('input:radio[name=ABC]:checked').val();
                                    console.log(url1);
                                    $.ajax({
                                        url: url1,
                                        success: function (result) {
                                            ChangeUrl('Index', url1);
                                            $('#_viewSearchNangCao').html(result);
                                        }
                                    });
                                });
                            })
                        </script>
                    }





                    <div class="clear"> </div>
                </div>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
</body>
</html>