﻿@using (Html.BeginForm("Search", "Home"))
{
    <div class="mid-grid-left">
        <form>
            <input id="txtName" type="text" name="txtName" placeholder="What Are You Looking for?" />
        </form>

    </div>
}
<div class="mid-grid-left">
    <a class="slide-btn" @Html.ActionLink("Tìm kiếm nâng cao", "searchNangCao", "Home")</a>
</div>