﻿@model WebApplication1.Models.AccountManagerRoleSetViewModel

@{
    ViewBag.Title = "AccountManagerRoleSet";
}
<div class="wrap">
    <h2>Cấp quyền cho account</h2>

    @using (Html.BeginForm("AccountManagerRoleSet", "Account", new { Token = ViewBag.Token }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.RoleIn, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Label(Model.CurrentRole)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Quyền được cấp", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.RoleIn, Model.Roles)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về danh sách tài khoản", "AccountListManage")
    </div>
</div>
