﻿@model WebApplication1.Models.AccountManagerEditViewModel

@{
    ViewBag.Title = "AccountManagerEdit";
}
<div class="=wrap">
    <h2>Cập nhật thông tin</h2>

    @using (Html.BeginForm("AccountManagerEdit", "Account", new { Token = ViewBag.Token }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Thông tin của tài khoản: @ViewBag.UserName</h4>
        <p class="success">@ViewBag.SMessage</p>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.FirstName, Model.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName, Model.LastName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về danh sách tài khoản", "AccountListManage")
    </div>
</div>
