﻿@{
    ViewBag.Title = "AccountListManage";
}
<div class="wrap">
    <h2>Quản lý danh sách tài khoảnn</h2>


    <div class="content product-box-main">
        <div class="form-group">
            @Html.Action("AccountListManagePartial")
        </div>
    </div>
</div>
@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#contentPager a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: true,
                    success: function (result) {
                        $('#ajaxcontent').html(result);
                    }
                });
                return false;
            });
            $(document).on("click", ".delete a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: true,
                    success: function (result) {
                        $('#ajaxcontent').html(result);
                    }
                });
                return false;
            });
        });
    </script>
}

