﻿@model PagedList.IPagedList<WebApplication1.Models.AccountListManageViewModel>
@using PagedList;
@using PagedList.Mvc;
<div id="ajaxcontent" class="table">
    <table border="1">
        <tr>
            <th>
                @Html.Label("Tài khoản")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th>
                @Html.Label("Họ")
            </th>
            <th>
                @Html.Label("Tên")
            </th>
            <th>
                @Html.Label("Vô hiệu hóa")
            </th>
            <th>
                @Html.Label("Tùy chọn")
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDisabled)
                </td>
                <td>
                    @{
            if (item.Id != ViewBag.LoginUser)
            {
                string status = item.IsDisabled == false ? "Disable" : "Enable";
                <span class="delete">@Html.ActionLink(@status, "AccountManagerDisable", new { Token = item.Id, page = ViewBag.page }) </span>

                        @Html.ActionLink("Cấp quyền", "AccountManagerRoleSet", new { Token = item.Id })
            }
                    }
                </td>
            </tr>
        }
    </table>

    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("AccountListManagePartial", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>

