﻿
@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<h2>Thư kích hoạt</h2>
<div class="wrap">
    <div class="row">
        <div class="col-md-8">
            Hãy kiểm tra lại email của bạn. Thư kích hoạt đã được gửi tới @ViewBag.Email
        </div>
    </div>
</div>