﻿@using WebApplication1.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

>
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<div class="wrap">
    <h2>Quản lý tài khoản</h2>
    <h4>Đổi mật khẩu</h4>
    <p class="text-success">@ViewBag.StatusMessage</p>

    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
        <div>
            @Html.ActionLink("Chỉnh sửa thông tin", "EditProfile", "Account");
        </div>
        @{

            if (User.IsInRole("admin"))
            {
                <div>
                    @Html.ActionLink("Quản lý danh sách tài khoản", "AccountListManage", "Account");
                </div>
                <div>
                    @Html.ActionLink("Top 10 sản phẩm bán chạy", "TopTenSaleProductStatistic", "Order");
                </div>
            }
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
