﻿@{
    ViewBag.Title = "Not Admin";
}


<div class="wrap">
    <h2>Thư kích hoạt</h2>
    <div class="row">
        <div class="col-md-8">
            Bạn không được phép truy cập vào trang này do không phải admin
        </div>
    </div>
</div>