﻿
@{
    ViewBag.Title = "RenewPasswordRequestSend";
}
<div class="wrap">
    <h2>Xác nhận yêu cầu làm mới mật khẩu đã được gửi</h2>
    <div class="row">
        <div class="col-md-8">
            Vui lòng kiểm tra email để tiến hành làm mới mật khẩu
        </div>
    </div>
</div>

