﻿
@{
    ViewBag.Title = "RenewPassword";
}

<div class="wrap">
    <div class="row">
        <div class="col-md-8">
            Làm mới mật khẩu thành công. Click vào @Html.ActionLink("đây", "Login", "Account") để vào trang đăng nhập
        </div>
    </div>
</div>


