﻿
@model WebApplication1.Models.ProductList
<script>

</script>
@using (Html.BeginForm("Addcomment/" + Model.myproduct.id, "Product", FormMethod.Post, new { id = 1 }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add comment</legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.mycomment.name)
            @Html.ValidationMessageFor(model => model.mycomment.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mycomment.comment1)
            @Html.ValidationMessageFor(model => model.mycomment.comment1)
        </div>
        @Html.Hidden("idpost", ViewData["idpost"])
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}