﻿@using WebApplication1.Models
@model PagedList.IPagedList<WebApplication1.DAL.Product>
@using PagedList;
@using PagedList.Mvc;


<!--- start-content---->
<div class="content product-box-main">
    <div class="wrap">
        <div class="content-left">
            <div class="content-left-top-brands">
                <h4><a href="/Product/ProductList?gender=1">Nam</a></h4>
                <ul>
                    @foreach (WebApplication1.DAL.Type type in (List<WebApplication1.DAL.Type>)ViewData["typelist"])
                    {
                        string href = "/Product/ProductList?gender=1&" + "type=" + @type.id;
                        <li><a href=@href>@type.name</a></li>
                    }
                </ul>
                <h4>
                    <a href="/Product/ProductList?gender=2">Nữ</a><h4>
                        <ul>
                            @foreach (WebApplication1.DAL.Type type in (List<WebApplication1.DAL.Type>)ViewData["typelist"])
                            {
                                string href = "/Product/ProductList?gender=2&" + "type=" + @type.id;
                                <li><a href=@href>@type.name</a></li>
                            }
                        </ul>
            </div>
            <div class="content-left-top-grid">
                <div class="content-left-price-selection content-left-top-brands-prices">
                    <h4>Select Price:</h4>
                    <div class="price-selection-tree">
                        <span class="col_checkbox">
                            <input id="10" class="css-checkbox10" type="checkbox">
                            <label class="normal"><i for="10" name="demo_lbl_10" class="css-label10"> </i> 400</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="11" class="css-checkbox11" type="checkbox">
                            <label class="active1"><i for="11" name="demo_lbl_11" class="css-label11"> </i>350</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="12" class="css-checkbox12" type="checkbox">
                            <label class="normal"><i for="12" name="demo_lbl_12" class="css-label12"> </i> 300</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="13" class="css-checkbox13" type="checkbox">
                            <label class="normal"><i for="13" name="demo_lbl_13" class="css-label13"> </i>250</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="14" class="css-checkbox14" type="checkbox">
                            <label class="normal"><i for="14" name="demo_lbl_14" class="css-label14"> </i> 200</label>
                        </span>
                        <span class="col_checkbox">
                            <input id="15" class="css-checkbox15" type="checkbox">
                            <label class="normal"><i for="15" name="demo_lbl_15" class="css-label15"> </i>150</label>
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <div class="content-right product-box">
            <div class="product-box-head">
                <div class="product-box-head-left">
                    <h3>Products <span>(500)</span></h3>
                </div>
                <div class="product-box-head-right">
                    <ul>
                        @{string gender_pref = "";
                        string type_pref = "";
                        if (ViewData["gender"] != null)
                        {
                            gender_pref += ViewData["gender"];
                        }

                        if (ViewData["type"] != null)
                        {
                            type_pref += ViewData["type"];
                        }
                        <li><span>Sort ::</span><a href="#"> </a></li>
                            <li>@Html.ActionLink("Popular", "ProductList", new { gender = @gender_pref, type = @type_pref, sortorder = "popular" })</li>
                            <li>@Html.ActionLink("New", "ProductList", new { gender = @gender_pref, type = @type_pref, sortorder = "new" })</li>
                            <li>
                                <span>
                                    Price ::
                                </span>
                                @Html.ActionLink("Low", "ProductList", new { gender = @gender_pref, type = @type_pref, sortorder = "low" })
                                @Html.ActionLink("High", "ProductList", new { gender = @gender_pref, type = @type_pref, sortorder = "high" })
                            </li>

                        }
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="product-grids">
                <!--- start-rate---->
                <script src="../Scripts/jstarbox.js"></script>
                <link rel="stylesheet" href="../Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
                <script type="text/javascript">
                    jQuery(function () {
                        jQuery('.starbox').each(function () {
                            var starbox = jQuery(this);
                            starbox.starbox({
                                average: starbox.attr('data-start-value'),
                                changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                ghosting: starbox.hasClass('ghosting'),
                                autoUpdateAverage: starbox.hasClass('autoupdate'),
                                buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                stars: starbox.attr('data-star-count') || 5
                            }).bind('starbox-value-changed', function (event, value) {
                                if (starbox.hasClass('random')) {
                                    var val = Math.random();
                                    starbox.next().text(' ' + val);
                                    return val;
                                }
                            })
                        });
                    });
                </script>
                <!---//End-rate---->
                @{ int i = 1;
                 foreach (WebApplication1.DAL.Product product in Model)
                 {
                     string divclass = "product-grid ";
                     if (i % 3 == 0)
                     {
                         divclass = "product-grid  last-grid";
                     }
                     i++;
                    <div class="@divclass" onclick="location.href = '/Product/ProductDetails/@Html.DisplayFor(modelItem => product.id)';">
                        <div class="product-grid-head">
                            <ul class="grid-social">
                                <li><a class="facebook" href="#"><span> </span></a></li>
                                <li><a class="twitter" href="#"><span> </span></a></li>
                                <li><a class="googlep" href="#"><span> </span></a></li>
                                <div class="clear"> </div>
                            </ul>

                        </div>
                        <div class="product-pic">

                            @{
                     string path;
                     if (product.Image_Product.Count != 0) { path = product.Image_Product.First().Image.images_path; }
                     else { path = ""; }}
                            <a href="#"><img src="@path" title="product-name" /></a>
                            <p>
                                <a href="/Product/ProductDetails/@Html.DisplayFor(modelItem => product.id)"> @Html.DisplayFor(modelItem => product.name)</a>
                            </p>
                        </div>
                        <div class="product-info-price">
                            <a href="/Home/details">&#163; @product.price</a>
                        </div>
                    </div>

                 }}

                <div class="clear"> </div>
            </div>
            <p>
                @{string gender_pre = "";
                string type_pre = "";
                string sortorder_pre = "";
                if (ViewData["gender"] != null)
                {
                    gender_pre += ViewData["gender"];
                }

                if (ViewData["type"] != null)
                {
                    type_pre += ViewData["type"];
                }
                if (ViewData["sortorder"] != null)
                {
                    sortorder_pre += ViewData["sortorder"];
                }

                @Html.PagedListPager(Model, page => Url.Action("ProductList", new { page = page, gender = @gender_pre, type = @type_pre, sortorder = @sortorder_pre }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }
            </p>
        </div>

        <div class="clear"> </div>
    </div>

</div>
