﻿
@model WebApplication1.Models.ProductList

@foreach (var comment in Model.comment.OrderBy(x => x.date))
{
    <div class="display-field">
        <p><a>Thời gian:</a> @Html.DisplayFor(x => comment.date)</p>
    </div>
    <div class="display-field">
        <p><a>Tên:</a> @Html.DisplayFor(x => comment.name)</p>
    </div>
    <div class="display-field">
        <p><a>Nhận xét:</a>@Html.DisplayFor(x => comment.comment1)</p>
    </div>


}