﻿@using WebApplication1.Models
@model PagedList.IPagedList<WebApplication1.DAL.Product>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ProductManage";
}

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<div class="content product-box-main">
    <div class="form-group">
        @*Html.ActionLink("Thêm", "#", "Product")*@
        <div class="table">
            <table>
                <tr>
                    <th>ID </th>
                    <th>Tên sản phẩm</th>
                    <th>Giới</th>
                    <th>Giá</th>
                    <th>Tùy chọn</th>
                </tr>
                @foreach (WebApplication1.DAL.Product product in Model)
                {
                    <tr>
                        <td>@product.id</td>
                        <td>@product.name</td>
                        <td>@product.Gender.name</td>
                        <td>@product.price</td>
                        <td>@Html.ActionLink("Cập nhật", "ProductUpdate", new { id = @product.id, page = ViewData["pagenum"] }) | @Html.ActionLink("Xóa", "ProductDelete", new { id = @product.id, page = ViewData["pagenum"] })</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("ProductManage", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>
<script type="text/javascript">
    $(document).ready
</script>