﻿@model WebApplication1.Models.ProductList
@{
    ViewBag.Title = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

    <!-- Owl Carousel Assets -->
    <link href="../Content/owl.carousel.css" rel="stylesheet">
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <!-- Owl Carousel Assets -->
    <!-- Prettify -->
    <script src="../Scripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({
                items: 3,
                lazyLoad: true,
                autoPlay: true,
                navigation: true,
                navigationText: ["", ""],
                rewindNav: false,
                scrollPerPage: false,
                pagination: false,
                paginationNumbers: false,
            });

        });
    </script>
</head>
<body>

    <!--- start-content---->
    <div class="content details-page">
        <!---start-product-details--->
        <div class="product-details">
            <div class="wrap">
                <ul class="product-head">
                    <li><a href="#">Home</a> <span>::</span></li>
                    <li class="active-page"><a href="#">Product Page</a></li>
                    <div class="clear"> </div>
                </ul>
                <!----details-product-slider--->
                <!-- Include the Etalage files -->
                <link rel="stylesheet" href="../Content/etalage.css">
                <script src="../Scripts/jquery.etalage.min.js"></script>
                <!-- Include the Etalage files -->
                <script>
                    jQuery(document).ready(function ($) {

                        $('#etalage').etalage({
                            thumb_image_width: 300,
                            thumb_image_height: 400,
                            source_image_width: 900,
                            source_image_height: 1000,
                            show_hint: true,
                            click_callback: function (image_anchor, instance_id) {
                                alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                            }
                        });
                        // This is for the dropdown list example:
                        $('.dropdownlist').change(function () {
                            etalage_show($(this).find('option:selected').attr('class'));
                        });

                    });
                </script>
                <!----//details-product-slider--->
                <div class="details-left">
                    <div class="details-left-slider">
                        <ul id="etalage">
                            <li>
                                <a href="optionallink.html">
                                    <img class="etalage_thumb_image" src="/Images/product-slide/image1_thumb.jpg" " />
                                    <img class="etalage_source_image" src="/Images/product-slide/image1_large.jpg" />
                                </a>
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="/Images/product-slide/image2_thumb.jpg" />
                                <img class="etalage_source_image" src="/Images/product-slide/image2_large.jpg" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="/Images/product-slide/image3_thumb.jpg" />
                                <img class="etalage_source_image" src="/Images/product-slide/image3_large.jpg" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="/Images/product-slide/image4_thumb.jpg" />
                                <img class="etalage_source_image" src="/Images/product-slide/image4_large.jpg" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="/Images/product-slide/image5_thumb.jpg" />
                                <img class="etalage_source_image" src="/Images/product-slide/image5_large.jpg" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="/Images/product-slide/image6_thumb.jpg" />
                                <img class="etalage_source_image" src="/Images/product-slide/image6_large.jpg" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="/Images/product-slide/image7_thumb.jpg" />
                                <img class="etalage_source_image" src="/Images/product-slide/image7_large.jpg" />
                            </li>
                        </ul>
                    </div>
                    <div class="details-left-info">
                        <div class="details-right-head">
                            <h1>@Html.DisplayFor(model => model.myproduct.name)</h1>
                            <ul class="pro-rate">
                                <li><a class="product-rate" href="#"> <label> </label></a> <span> </span></li>
                                <li><a href="#">0 Review(s) Add Review</a></li>
                            </ul>
                            <p class="product-detail-info">@Model.myproduct.description</p>
                            <a class="learn-more" href="#"><h3>MORE DETAILS</h3></a>
                            <div class="product-more-details">
                                <ul class="price-avl">
                                    <li class="price"><label>$@Html.DisplayFor(model => model.myproduct.price)</label></li>
                                    <li class="stock"><i>In stock</i></li>
                                    <div class="clear"> </div>
                                </ul>
                                @*ul class="product-colors">
                                        <h3>CÁC MÀU CÓ SẴN ::</h3>
                                        <li><a class="color1" href="#"><span> </span></a></li>
                                        <li><a class="color2" href="#"><span> </span></a></li>
                                        <li><a class="color3" href="#"><span> </span></a></li>
                                        <li><a class="color4" href="#"><span> </span></a></li>
                                        <li><a class="color5" href="#"><span> </span></a></li>
                                        <li><a class="color6" href="#"><span> </span></a></li>
                                        <li><a class="color7" href="#"><span> </span></a></li>
                                        <li><a class="color8" href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>*@
                                @*<ul class="prosuct-qty">
                                        <span>SỐ LƯỢNG:</span>
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                    </ul>*@
                                <input id="addtocart" type="button" value="Bỏ vào giỏ hàng" onclick="addtocart(@Model.myproduct.id);"/>
                                <script type="text/javascript">
                                    function addtocart(id) {
                                        $.post("/Order/AddToCart", { "ProductId": id },
                                            function (data) {
                                                if (data.Code = "0")
                                                {
                                                    alert("Thêm vào giỏ hàng thành công");
                                                }
                                            });
                                    }
                                </script>
                                @*<ul class="product-share">
                                        <h3>All so Share On</h3>
                                        <ul>
                                            <li><a class="share-face" href="#"><span> </span> </a></li>
                                            <li><a class="share-twitter" href="#"><span> </span> </a></li>
                                            <li><a class="share-google" href="#"><span> </span> </a></li>
                                            <li><a class="share-rss" href="#"><span> </span> </a></li>
                                            <div class="clear"> </div>
                                        </ul>
                                    </ul>*@
                            </div>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="details-right">
                    <a href="#">SEE MORE</a>
                </div>
                <div class="clear"> </div>
            </div>
            <!----product-rewies---->
            <div class="product-reviwes">
                <div class="wrap">
                    <!--vertical Tabs-script-->
                    <!---responsive-tabs---->
                    <script src="../Scripts/easyResponsiveTabs.js" type="text/javascript"></script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#horizontalTab').easyResponsiveTabs({
                                type: 'default', //Types: default, vertical, accordion
                                width: 'auto', //auto or any width like 600px
                                fit: true,   // 100% fit in a container
                                closed: 'accordion', // Start closed if in accordion view
                                activate: function (event) { // Callback function if tab is switched
                                    var $tab = $(this);
                                    var $info = $('#tabInfo');
                                    var $name = $('span', $info);
                                    $name.text($tab.text());
                                    $info.show();
                                }
                            });

                            $('#verticalTab').easyResponsiveTabs({
                                type: 'vertical',
                                width: 'auto',
                                fit: true
                            });
                        });
                    </script>
                    <!---//responsive-tabs---->
                    <!--//vertical Tabs-script-->
                    <!--vertical Tabs-->
                    <div id="verticalTab">
                        <ul class="resp-tabs-list">
                            <li>Description</li>
                            <li>Product tags</li>
                            <li>Product reviews</li>
                        </ul>
                        <div class="resp-tabs-container vertical-tabs">
                            <div>
                                <h3> CHI TIẾT</h3>
                                @Model.myproduct.description
                            </div>
                            <div>
                                <h3>PHẦN KHÁCH HÀNG</h3>
                                <h4>Add Your Tags:</h4>
                                <form>
                                    <input type="text"> <input type="submit" value="ADD TAGS" />
                                    <span>Use spaces to separate tags. Use single quotes (') for phrases.</span>
                                </form>
                            </div>
                            <div>
                                <h3>NHẬN XÉT CỦA KHÁCH HÀNG</h3>

                                @Html.Partial("_addComment", Model)
                                <div id="_viewComment">
                                    @Html.Partial("_viewComment", Model)
                                </div>
                                @for (int i = 1; i < @ViewBag.Totalpage; i++)
                                {
                                    <a class="p" href="/Product/ProductDetails/@ViewBag.id?page=@i">@i</a>
                                }


                            </div>
                        </div>
                    </div>
                    <div class="clear"> </div>
                    <!--- start-similar-products--->
                    <div class="similar-products">
                        <div class="similar-products-left">
                            <h3>CÁC SẢN PHẨM TƯƠNG TỰ</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="similar-products-right">
                            <!-- start content_slider -->
                            <!--- start-rate---->
                            <script src="../Scripts/jstarbox.js"></script>
                            <link rel="stylesheet" href="../Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
                            <script type="text/javascript">
                                jQuery(function () {
                                    jQuery('.starbox').each(function () {
                                        var starbox = jQuery(this);
                                        starbox.starbox({
                                            average: starbox.attr('data-start-value'),
                                            changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                            ghosting: starbox.hasClass('ghosting'),
                                            autoUpdateAverage: starbox.hasClass('autoupdate'),
                                            buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                            stars: starbox.attr('data-star-count') || 5
                                        }).bind('starbox-value-changed', function (event, value) {
                                            if (starbox.hasClass('random')) {
                                                var val = Math.random();
                                                starbox.next().text(' ' + val);
                                                return val;
                                            }
                                        })
                                    });
                                });
                            </script>
                            <!---//End-rate---->
                            <div id="owl-demo" class="owl-carousel">
                                @foreach (var item in Model.listproduct)
                                {
                                    <div class="item" onclick="location.href='/Home/details';">
                                        <div class="product-grid fade sproduct-grid">
                                            <div class="product-pic">
                                                <a href="#"><img src="/images/product1.jpg" title="product-name" /></a>
                                                <p>
                                                    <a href="/Product/ProductDetails/@Html.DisplayFor(modelItem => item.id)">@Html.DisplayFor(modelItem => item.name)</a>
                                                    <span>Men's Firm-Ground Football Boot</span>
                                                </p>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-info-cust">
                                                    <a href="/Product/ProductDetails/@Html.DisplayFor(modelItem => item.id)">Details</a>
                                                </div>
                                                <div class="product-info-price">
                                                    <a href="#">&#163; @Html.DisplayFor(modelItem => item.price) </a>
                                                </div>
                                                <div class="clear"> </div>
                                            </div>
                                            <div class="more-product-info">
                                                <span> </span>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <!----//End-img-cursual---->
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <!--- //End-similar-products--->
                </div>
            </div>
            <div class="clear"> </div>
            <!--//vertical Tabs-->
            <!----//product-rewies---->
            <!---//End-product-details--->
        </div>
    </div>

</body>
</html>


@section viewcomment
                            {
    <script type="text/javascript">
        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(obj, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }
        function phantrang() {
            $.ajax({
                url: "/Product/ProductDetails/1?page=2",
                success: function (result) {
                    ChangeUrl("ProductDetails", "/Product/ProductDetails/1?page=2");
                    $('#_viewComment').html(result);
                }
            });
        }
        function ronglen() {
            alert("rong len");
        }
        $(function () {
            $(".a").click(function (e) {

                e.preventDefault();
                phantrang();

            });
            $(".p").click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl("ProductDetails", url);
                        $('#_viewComment').html(result);
                    }
                });

            });



        });
    </script>

}