﻿@using WebApplication1.Models
@{
    ViewBag.Title = "Product";

}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div id="ProductContainer">
    @Html.Partial("_Productlist")
</div>
<script>
    function OnCriteria(page, includeNewCriteria) {

        /*var crit;

        if (includeNewCriteria) {
            crit = ($('#criteria'))[0].value;
        } else {
            crit = ($('#lastedCriteria'))[0].value;
        }*/

        $.ajax(
          {
              type: "GET",
              url: "/Product/GetProduct?" + "page=" + page,

              success: function (result) {
                  $("#ProductContainer").html(result.toString());
              },

              error: function () {
                  alert("Searching failed!");
              }
          });
    }
</script>
<script>
    function myFunction() {
        document.getElementById("abcxyz").style.color = "red";
    }
</script>


