﻿@using WebApplication1.Models
@model PagedList.IPagedList<WebApplication1.DAL.Type>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ProductType";
}

<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<div class="wrap">
    <div class="form-group">
        @Html.ActionLink("Thêm", "ProductTypeInsert", "Product")
        <div class="table">
            <table>
                <tr>
                    <th>ID loại</th>
                    <th>Tên loại</th>
                    <th>Tùy chọn</th>
                </tr>
                @foreach (WebApplication1.DAL.Type type in Model)
                {
                    <tr>
                        <td>@type.id</td>
                        <td>@type.name</td>
                        <td>@Html.ActionLink("Cập nhật", "ProductTypeUpdate", new { id = @type.id, page = ViewData["pagenum"] }) | @Html.ActionLink("Xóa", "ProductTypeDelete", new { id = @type.id, page = ViewData["pagenum"] })</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("ProductType", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>
<script type="text/javascript">
    $(document).ready
</script>