﻿@model List<WebApplication1.Models.ProductCartViewModel>

<div id="ajaxcontent" class="table">
    @using (Html.BeginForm("Order", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <table border="1">
            <tr>
                <th>
                    @Html.Label("Tên sản phẩm")
                </th>
                <th>
                    @Html.Label("Số lượng")
                </th>
                <th>
                    @Html.Label("Giá")
                </th>
                <th>
                    @Html.Label("Xóa")
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.name)
                    </td>
                    <td>
                        @*Html.EditorFor(modelItem => item.Quantity, item.Quantity)*@
                        @Html.TextBoxFor(modelItem => item.Quantity, new { @value=item.Quantity, @onchange="changequantity("+ item.Product.id + ",this.value);"})
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.price)
                    </td>
                    <td>
                        <span class="delete">@Html.ActionLink("Xóa", "CartProductDelete", new { Token = item.Product.id })</span>

                    </td>
                </tr>
            }
        </table>

        <div>
            Giá: @ViewBag.TotalPrice
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Thanh toán" />
            </div>
        </div>
    }
</div>