﻿@{
    ViewBag.Title = "Cart";
}



<div class="wrap">
    <h1>Giỏ hàng</h1>
    @Html.Action("CartPartial")
    @if (Request.IsAuthenticated)
    {
        <div>
            @Html.ActionLink("Xem lịch sử mua hàng", "OrderHistory");
        </div>
    }
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", ".delete a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: true,
                    success: function (result) {
                        $('#ajaxcontent').html(result);
                    }
                });
                return false;
            });

        });

        function changequantity(id, quantity) {
            //alert(id + " and " + quantity);
            $.ajax({
                url: '/Order/CartChangeQuantity?ProductId=' + id + '&Quantity=' + quantity,
                type: 'GET',
                cache: true,
                success: function (result) {
                    $('#ajaxcontent').html(result);
                }
            });
        };
    </script>
}