﻿
@{
    ViewBag.Title = "OrderHistory";
}

<div class="wrap">
    <h2>Lịch sử đặt hàng</h2>
    @Html.Action("OrderHistoryPartial")
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#contentPager a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: true,
                    success: function (result) {
                        $('#ajaxcontent').html(result);
                    }
                });
                return false;
            });
        });
    </script>
}