﻿@model PagedList.IPagedList<WebApplication1.Models.OrderHistoryItemViewModel>
@using PagedList;
@using PagedList.Mvc;
<div id="ajaxcontent" class="table">
    <table class="table">
        <tr>
            <th>
                @Html.Label("Thời điểm đặt")
            </th>
            <th>
                @Html.Label("Tổng tiền")
            </th>
            <th>
                @Html.Label("Trạng thái")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }

    </table>
    <div id="contentPager">
        @Html.PagedListPager(Model, page => Url.Action("OrderHistoryPartial", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
</div>

